@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    position: relative;
    margin-left: 15%;
    margin-top: 1em;
}

.container{
	margin: auto;
	width: 50%;
	
	padding: 10px; 
}

h1{
	color: #66bbff;
	
}

.tabela-cont{
	align-items: center;
}

/*  Configuralção de botão no css */
.botao-1{
	text-decoration: none; 
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.3em;
	font-weight: 700;
	border-radius: 8px;
	cursor: pointer;
	margin: 1em 1em 1em 1em;	
}

.botao-1-index{
	text-decoration: none; 
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.3em;
	font-weight: 700;
	border-radius: 8px;
	cursor: pointer;
	margin: 1em 1em 1em 1em;
	margin: 90px;
	margin-left: 50%;
}

.botao-v{
	text-decoration: none; 
	background-color: #ff0000;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.3em;
	font-weight: 700;
	border-radius: 8px;
	cursor: pointer;
	margin: 1em 1em 1em 1em;
	
}

.imagen-fundo{
	align-items: center;
	width: 70em;
	height: 38em;
}

body .container{
	float: center;
	position: relative;
	align-items: center;	
}

.caixa-1{
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

#caixa-3{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
	border-radius: 5px;	
}

.caixa-2{	
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

/* Estilo da tabela */
#tabela{
	margin-top: 1em;
	border-collapse: collapse;	
}
#tabela th{
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: #66bbff;
	color: #fff; 
}
#tabela td{
	border: 1px solid #ddd;
	padding: 10px;
}














